.footer{
    background-color: var(--color3);
    color: var(--color2);
    width: 80%;
    margin: 0 10% 0 10%;
}
.footer-top{
    border-radius: 30px 30px 0px 0px;
}
.footer-bottom{
    color: gray;
    border-radius: 0px 0px 30px 30px;
}