input{
    margin-bottom: 5%;
    border: 1px solid black;
}
.input-bordered{
    border: 2px solid var(--orange);

}
select{
    margin-bottom: 10%;
}
.select-bordered{
    border: 2px solid var(--orange);
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 0 5% 0 5%;
}
.formRecipe{
    margin-top: 3%;
    text-align: center;
    height: 80vh;
    width: 100%;
}
.formRecipe-block{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 7% 0 7%;
    width: 100%;
    height: 100%;
}

.formRecipe-internal-blobk-2-1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
.formRecipe-block-3{
    display: flex;
    width: 100%;
}
.formRecipe-internal-block-3-1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 5%;
}
.semi-block{
    margin-bottom: 10%;
}
.formRecipe-internal-block-3-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}
.formRecipe-block-4{
    border: 2px solid var(--orange);
    border-radius: 7px;
    text-align: left;
    height: 55px;
    width: 70%;
}
.btnForm{
    width: 40%;
    height: 40px;
    border-radius: 50px;
    background-color: var(--orange);
    color: var(--background);
}