.title-login {
    font-size: 2em;
}

.container-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-login{
    border: 1px solid var(--grey);
    border-radius: 20px;
    width: 30%;
    padding: 50px 30px 50px 30px;
    background-color: var(--cream);
    display: flex;flex-direction: column;
    align-items: center;
}
.btn-register{
    width: 90%;
}