.container-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-register{
    border: 1px solid var(--grey);
    border-radius: 20px;
    width: 30%;
    padding: 50px 30px 50px 30px;
    background-color: var(--cream);
    display: flex;flex-direction: column;
    align-items: center;
}
.btn-register{
    height: 40px;
    border-radius: 50px;
    width: 90%;
    background-color: var(--orange);
    color: var(--background);
}
.btn-login{
    height: 40px;
    border-radius: 50px;
    width: 90%;
    background-color: var(--black);
    color: var(--background);
}
