.container-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.form-register{
    border: 1px solid var(--grey);
    border-radius: 20px;
    width: 50%;
    padding: 50px 30px 50px 30px;
    background-color: var(--cream);
    display: flex;flex-direction: column;
    align-items: center;
}
.btn-register{
    width: 90%;
}
.btn-login{
    width: 90%;
    background-color: var(--black);
}
