.container{
    border: 1px solid var(--black);
    padding: 100px 50px 100px 50px;
    border-radius: 30px;
}
.image{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.block-text{
    display: flex;
    padding-left: 20%;
}
.instructions{
    margin-top: 50px;
    width: 50%;
    text-align: justify;
}
h2{
    margin-bottom: 20px;
}
.block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.internal-block{
    background-color: var(--cream);
    border-radius: 20px;
    margin: 50px;
    width: 60%;
    padding: 10px;
    border: 1px solid var(--peach);
    text-align: justify;
}